.parent-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  .product {
    display: flex;
    gap: 20px;
    img {
      width: 500px;
      height: 500px;
      object-fit: fill;
    }
    .product-details {
      display: flex;
      padding: 20px;
      flex-direction: column;
      border: 1px solid gray;
      h5 {
        margin: 2px 0;
      }
    }

    .button-container {
      display: flex;
      gap: 50px;
      align-items: center;
      p {
        font-weight: 500;
      }
    }
  }
}
.empty-state {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  .parent-container {
    .product {
      flex-direction: column;
      align-items: center;
      img {
        width: 300px;
        height: 400px;
      }
      .product-details {
        .button-container {
          flex-direction: column;
          text-align: left;
          gap: 5px;
          p {
            width: 100%;
          }
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
